<div class="lh-lg">
    <p class="mb-6">
    本店的宅配業務委由<span class="text-orange">橘貓宅急便</span>協助進行。
    <br>
    蛋糕在配送的過程中，可能會遇上路況不穩、貨量龐大使宅配車暫時熄火等情況，造成車體劇烈晃動、冰櫃溫度流失，進而導致蛋糕結構變形或受損。
    <br>
    我們將根據商品種類採用最穩定的包裝方法，宅配司機也將運用他們的專業技術盡全力避免這樣的情況發生，
    <br>
    但是我們仍然<span class="text-orange">無法百分之百保證</span>每次出貨都能完好無損，敬請見諒。
    </p>
    <p>
    <span class="fw-bold">下單前務必確保願意承擔宅配蛋糕的風險，如果您無法接受，請選擇來店取貨。</span>
    <br>
    希望大家能夠體諒司機們的辛勞，謝謝您的友善與尊重讓這個世界變得更美好。
    <br>
    <span>(*´ω`)人(´ω`*)</span>
    </p>
</div>