<footer class="container">
    <div class="py-7">
        <div class="d-flex flex-lg-row flex-column justify-content-between align-items-center mb-7">
            <a class="mb-lg-0 mb-8" href="index.html"><img src="../assets/images/logo.png" alt="akheng's desserts"></a>
            <div class="d-flex flex-lg-row flex-column mb-lg-0">
                <ul class="navbar m-lg-0 p-0">
                    <li class="nav me-lg-9 me-6"><a data-route="news" class="nav-link rounded-1 p-0" href="news.html">最新消息</a></li>
                    <li class="nav me-lg-9 me-6"><a data-route="products" class="nav-link rounded-1 p-0" href="products.html">全站商品</a></li>
                    <li class="nav me-lg-9 me-6"><a data-route="faq" class="nav-link rounded-1 p-0" href="faq.html">購物說明</a></li>
                    <li class="nav me-lg-9 me-0"><a data-route="admin" class="nav-link rounded-1 p-0" href="admin.html">後台管理</a></li>
                </ul>
                <div class="align-self-center">
                    <a href="#" class="me-2"><img src="../assets/icons/facebook.png" alt="facebook"></a>
                    <a href="#"><img src="../assets/icons/github.png" alt="github"></a>
                </div>
            </div>
        </div>
        <div class="d-flex flex-lg-row flex-column justify-content-between fs-7 border-top pt-5">
            <p class="mb-lg-0 mb-6"><span class="material-icons align-bottom me-2 fs-5">copyright</span>2023 Akheng's Desserts All Rights Reserved.</p>
            <p class="mb-lg-0 mb-6"><span class="material-icons align-bottom me-2 fs-5">location_on</span>地址：花蓮縣ＯＯ鎮ＸＸ路二段＃＃號</p>
            <p class="mb-lg-0 mb-6"><span class="material-icons align-bottom me-2 fs-5">call</span>電話：0912-345-678</p>
            <p class="mb-lg-0"><span class="material-icons align-bottom me-2 fs-5">schedule</span>營業時間：每日 08:30～22:00</p>
        </div>
    </div>
</footer>