<header id="admin-header" class="container-fluid">
    <div class="bg-secondary d-flex justify-content-center align-items-center py-lg-6 py-5">
        <!-- 電腦版 -->
        <div class="d-md-flex d-none align-items-center">
            <h2 class="fs-5 mb-0 me-9">前台展示</h2>
            <ul class="navbar m-0 p-0">
                <li class="nav me-9"><a data-route="index" class="nav-link rounded-1 p-0" href="index.html">首　　頁</a></li>
                <li class="nav me-9"><a data-route="news" class="nav-link rounded-1 p-0" href="news.html">最新消息</a></li>
                <li class="nav me-9"><a data-route="products" class="nav-link rounded-1 p-0" href="products.html">全站商品</a></li>
                <li class="nav me-9"><a data-route="faq" class="nav-link rounded-1 p-0" href="faq.html">購物說明</a></li>
            </ul>
            <h2 class="fs-5 mb-0 me-9">後台管理</h2>
            <ul class="navbar border-end border-subtle m-0 p-0">
                <li class="nav me-9"><a data-route="" class="nav-link rounded-1 p-0" href="admin-dashboard.html#orders">訂單管理</a></li>
                <li class="nav me-9"><a data-route="" class="nav-link rounded-1 p-0" href="admin-dashboard.html#announcements">消息管理</a></li>
                <li class="nav me-9"><a data-route="" class="nav-link rounded-1 p-0" href="admin-dashboard.html#products">商品管理</a></li>
                <li class="nav me-9"><a data-route="" class="nav-link rounded-1 p-0" href="admin-dashboard.html#charts">銷售數據</a></li>
            </ul>
            <div id="membership" class="d-flex align-items-center ms-9">
                <a class="me-5" href="cart.html">
                    <span id="cart-icon" class="material-icons position-relative fs-2">shopping_bag</span>
                </a>
                <div class="dropdown">
                    <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="material-icons fs-2">account_circle</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end border-0 shadow text-center">
                        <li><a data-route="orders" class="dropdown-item px-1 py-2" href="member.html#orders">我的訂單</a></li>
                        <li><a class="dropdown-item px-1 py-2" href="member.html#collection">我的收藏</a></li>
                        <li><a class="dropdown-item px-1 py-2" href="member.html#profile">個人資料</a></li>
                        <li><a class="logout dropdown-item px-1 py-2" href="#">登　　出</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 手Ｇ版 -->
        <div class="d-md-none d-flex flex-grow-1 justify-content-between align-items-center px-5">
            <div class="dropdown">
                <button type="button"
                        class="btn btn-sm btn-outline p-2 d-flex align-items-center dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <h2 class="fs-5 mb-0">前台展示</h2>
                    <span class="fs-1 material-icons">arrow_drop_down</span>
                </button>
                <ul class="dropdown-menu w-100 border-0 shadow text-center">
                    <li><a data-route="news" href="news.html"
                           class="dropdown-item nav-link px-1 py-2">最新消息</a></li>
                    <li><a data-route="products" href="products.html"
                           class="dropdown-item nav-link px-1 py-2">全站商品</a></li>
                    <li><a data-route="faq" href="faq.html"
                           class="dropdown-item nav-link px-1 py-2">購物說明</a></li>
                    <li><a data-route="cart" href="cart.html"
                           class="dropdown-item px-1 py-2"
                           style="letter-spacing:0.4px">購 物 車</a></li>
                </ul>
            </div>
            <a class="logout btn btn-sm btn-primary" href="#">登出</a>
        </div>
    </div>
</header>