<div class="loading col-12">
    <div class="alert bg-tertiary text-center m-0">
        <div class="mb-5">
            <svg id="loading-spinner" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                <circle cx="24"    cy="4"     r="4"   fill="#FFFFFF"/>
                <circle cx="12.19" cy="7.86"  r="3.7" fill="#FFFBF2"/>
                <circle cx="5.02"  cy="17.68" r="3.4" fill="#FEF7E4"/>
                <circle cx="5.02"  cy="30.32" r="3.1" fill="#ECB88A"/>
                <circle cx="12.19" cy="40.14" r="2.8" fill="#A37A64"/>
                <circle cx="24"    cy="44"    r="2.5" fill="#8F5A3C"/>
                <circle cx="35.81" cy="40.14" r="2.2" fill="#6A4028"/>
                <circle cx="42.98" cy="30.32" r="1.9" fill="#563F2E"/>
                <circle cx="42.98" cy="17.68" r="1.6" fill="#422D28"/>
                <circle cx="35.81" cy="7.86"  r="1.3" fill="#261308"/>
            </svg>
        </div>
        <p>與伺服器取得聯繫中，請稍候</p>
    </div>
</div>