<section class="bg-secondary container-fluid overflow-hidden">
    <div class="row">
        <div class="col-lg-5 col-12 text-center">
            <img class="w-100 object-fit-cover rounded-2" src="../assets/images/karamel-cake-party.png" alt="蜂巢蛋糕">
        </div>
        <div class="col-lg-7 col-12 d-flex justify-content-center align-items-center position-relative">
            <div class="border border-4 border-white rounded-3 p-lg-9 px-6 py-9 my-5 flex-fill">
                <div class="d-flex flex-md-row flex-column align-items-center mb-9">
                    <h2 class="bg-primary rounded-2 p-3 me-md-7 me-0 mb-md-0 mb-9 text-white fs-3">
                    <span class="material-icons">auto_awesome</span>
                    <span>本月推薦</span>
                    </h2>
                    <h3 class="mb-0 fs-2">Karamel Cake 蜂巢蛋糕</h3>
                </div>
                <p class="text-black text-md-start text-center mb-9 fs-5">您知道蜂巢蛋糕的名稱由來嗎？</p>
                <div class="text-lg-start text-center">
                    <button class="btn btn-primary"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#columnModal">繼續閱讀
                    </button>
                </div>
            </div>
            <img class="d-lg-block d-none position-absolute top-0 start-0"
                 style="transform: rotate(30deg);"
                 src="../assets/images/flower2.png" alt="deco-batik-style-flower">
            <img class="d-md-block d-none position-absolute bottom-0 end-0"
                 style="width: 150px; transform: rotate(30deg);"
                 src="../assets/images/flower3.png" alt="deco-batik-style-flower">
        </div>
    </div>
</section>

<!-- Modal: Column Article -->

<div class="modal fade" id="columnModal" tabindex="-1" aria-labelledby="columnModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header px-md-8">
                <h2 class="modal-title fs-3" id="columnModalLabel">
                <span class="material-icons">auto_awesome</span>
                <span>本月推薦：蜂巢蛋糕<span>
                </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-md-8">
                <p>您知道蜂巢蛋糕的名稱由來嗎？</p>
                <br>
                <p>
                臺灣人稱它為蜂巢蛋糕，印尼人則是戲稱它為 Sarang Semut <br>
                Sarang 是「巢穴」而 Semut 是「螞蟻」，翻成中文就是「<span class="text-orange">螞蟻窩</span>」！很有趣吧！</p>
                <br>
                當然，它不是用蜂巢也不是用螞蟻窩做的。<br>
                您如果品嚐過蜂巢蛋糕，並且仔細觀察過它的縱切面，就會知道它的名字其來有自：<br>
                之所以得到這樣的命名，是因為它充滿孔洞的結構就像<span class="text-orange">蜂巢</span>一樣。<br>
                <br>
                我們的獨特之處，<br>
                在於不是使用黑糖和蜂蜜，而是使用焦糖製作蜂巢蛋糕，甜而不膩，口感紮實，您一定要試試看！
                </p>
                <hr>
                <p class="mb-5">如果沒有密集恐懼症的擔憂，可以點擊圖片看看它的廬山真面目！</p>
                <div class="row position-relative">
                    <img class="col-md-10 col-12" src="../assets/images/karamel-cake-slice.jpeg" alt="karamel-cake-slice">
                    <div id="blur-filter" class="backdrop-blur-sm position-absolute top-0 left-0 w-100 h-100"></div>
                    <div class="position-absolute top-35 start-30">
                        <div class="d-inline-block bg-white opacity-75 rounded-3 px-6 pt-4">
                            <span class="click"><span style="color:#261308">C</span>l&nbsp;c<span style="color:#261308">k</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>