<div id="productDetailModal"
     class="modal modal-lg fade"
     tabindex="-1"
     aria-labelledby="productModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"
                    id="productModalLabel">新增商品</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="product-form"
                  class="overflow-y-scroll d-flex flex-column">
                <div class="modal-body">
                    <div class="mb-7">
                        <label for="name"
                               class="form-label">
                               商品名稱<span class="text-danger">（必填）</label>
                        <input id="name"
                               type="text"
                               name="name"
                               class="form-control p-2 text-black">
                    </div>
                    <div class="mb-7">
                        <label for="otherName"
                               class="form-label">商品別名</label>
                        <input id="otherName"
                               type="text"
                               name="otherName"
                               class="form-control p-2 text-black">
                    </div>
                    <div class="mb-7">
                        <label for="info"
                               class="form-label">商品介紹</label>
                        <input id="info"
                               type="text"
                               name="info"
                               class="form-control p-2 text-black">
                    </div>
                    <div class="mb-7">
                        <p class="mb-2">商品類型<span class="text-danger">（必填）</p>
                        <div>
                            <input class="form-check-input" name="type" id="本店招牌" value="本店招牌"
                                   type="checkbox">
                            <label class="mx-4" name="type" for="本店招牌">本店招牌</label>
                            
                            <input class="form-check-input" name="type" id="南洋風味" value="南洋風味"
                                   type="checkbox">
                            <label class="mx-4" name="type" for="南洋風味">南洋風味</label>
                            
                            <input class="form-check-input" name="type" id="特色蛋糕" value="特色蛋糕"
                                   type="checkbox">
                            <label class="ms-4" name="type" for="特色蛋糕">特色蛋糕</label>
                            
                            <br>

                            <input class="form-check-input" name="type" id="午茶輕食" value="午茶輕食"
                                   type="checkbox">
                            <label class="mx-4" name="type" for="午茶輕食">午茶輕食</label>

                            <input class="form-check-input" name="type" id="期間限定" value="期間限定"
                                   type="checkbox">
                            <label class="mx-4" name="type" for="期間限定">期間限定</label>

                            <input class="form-check-input" name="type" id="節慶禮盒" value="節慶禮盒"
                                   type="checkbox">
                            <label class="ms-4" name="type" for="節慶禮盒">節慶禮盒</label>
                        </div>
                    </div>
                    <div class="mb-7">
                        <label for="ingredients"
                               class="form-label">主要成分</label>
                        <p class="fs-7 text-muted mb-2">請以半形逗號 “ , ” 區隔不同的材料</p>
                        <input id="ingredients"
                               type="text"
                               name="ingredients"
                               class="form-control p-2 text-black"
                               placeholder="請以半形逗號 “ , ” 區隔不同的材料">
                    </div>
                    <div class="mb-7">
                        <label for="price"
                               class="form-label">
                               商品價格<span class="text-danger">（必填）</label>
                        <input id="price"
                               type="text"
                               name="price"
                               class="form-control p-2 text-black">
                    </div>
                    <div class="mb-7">
                        <div class="d-flex align-items-center gap-4 mb-2">
                            <label>商品圖片</label>
                            <button id="createNewImage"
                                    type="button"
                                    class="btn btn-primary btn-sm px-2 py-0 d-flex align-items-center gap-1">
                                <span class="material-icons fs-5 d-flex">add_circle</span>
                                <span class="fs-7">新增圖片</span>
                            </button>
                        </div>
                        <p class="fs-7 text-muted mb-2">若想刪除圖片，欄位留白即可 🌝</p>
                        <div class="images d-flex flex-column gap-2">
                        <input type="text" name="image"
                               class="form-control p-2 text-black">
                        </div>
                    </div>
                    <div class="mb-7">
                        <label for="size"
                               class="form-label">
                               商品尺寸<span class="text-danger">（必填）</label>
                        <input id="size"
                               type="text"
                               name="size"
                               class="form-control p-2 text-black">
                    </div>
                    <div class="mb-7">
                        <label for="shelfLife"
                               class="form-label">
                               賞味期限<span class="text-danger">（必填）</label>
                        <input id="shelfLife"
                               type="text"
                               name="shelfLife"
                               class="form-control p-2 text-black">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-primary">送出</button>
                    <button type="button" class="btn btn-sm btn-orange" data-bs-dismiss="modal">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>