<ul class="sidebar nav nav-fill position-sticky top-0 fw-bold mb-9"
    id="v-pills-tab"
    role="tablist"
    aria-orientation="vertical">
    <li class="w-100 nav-item bg-secondary">
        <a href="#orders" class="text-decoration-none">
        <button class="nav-link"
                id="v-pills-orders-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-orders"
                type="button"
                role="tab"
                aria-controls="v-pills-orders"
                aria-selected="false">訂單管理</button>
        </a>
    </li>
    <li class="w-100 nav-item bg-secondary">
        <a href="#announcements" class="text-decoration-none">
        <button class="nav-link"
                id="v-pills-announcements-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-announcements"
                type="button"
                role="tab"
                aria-controls="v-pills-announcements"
                aria-selected="false">消息管理</button>
        </a>
    </li>
    <li class="w-100 nav-item bg-secondary">
        <a href="#products" class="text-decoration-none">
        <button class="nav-link"
                id="v-pills-products-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-products"
                type="button"
                role="tab"
                aria-controls="v-pills-products"
                aria-selected="false">商品管理</button>
        </a>
    </li>
    <li class="w-100 nav-item bg-secondary">
        <a href="#charts" class="text-decoration-none">
        <button class="nav-link"
                id="v-pills-charts-tab"
                data-bs-toggle="pill"
                data-bs-target="#v-pills-charts"
                type="button"
                role="tab"
                aria-controls="v-pills-charts"
                aria-selected="false">銷售數據</button>
        </a>
    </li>
</ul>