<ul id="filter"
    class="sidebar nav nav-fill position-sticky top-0 fw-bold mb-9">
    <li class="w-100 nav-item bg-secondary">
        <button class="nav-link">期間限定</button>
    </li>
    <li class="w-100 nav-item bg-secondary">
        <button class="nav-link active disabled">全站商品</button>
    </li>
    <li class="w-100 nav-item bg-secondary">
        <button class="nav-link">本店招牌</button>
    </li>
    <li class="w-100 nav-item bg-secondary">
        <button class="nav-link">南洋風味</button>
    </li>
    <li class="w-100 nav-item bg-secondary">
        <button class="nav-link">特色蛋糕</button>
    </li>
    <li class="w-100 nav-item bg-secondary">
        <button class="nav-link">午茶輕食</button>
    </li>
    <li class="w-100 nav-item bg-secondary">
        <button class="nav-link">節慶禮盒</button>
    </li>
</ul>