<ul id="sidebar" class="sidebar nav nav-fill position-sticky top-0 fw-bold mb-5">
    <li class="nav-item bg-secondary">
        <a class="nav-link" href="#how-to-buy">購買流程</a>
    </li>
    <li class="nav-item bg-secondary">
        <a class="nav-link" href="#faq">常見問答</a>
    </li>
    <li class="nav-item bg-secondary">
        <a class="nav-link" href="#contact">聯絡我們</a>
    </li>
</ul>