<ul id="sidebar"
    class="sidebar
    nav nav-fill flex-md-wrap flex-nowrap gap-3
    position-sticky top-0
    fw-bold mb-5">
    <li class="w-100 nav-item">
        <a class="nav-link" href="#how-to-buy">購買流程</a>
    </li>
    <li class="w-100 nav-item">
        <a class="nav-link" href="#faq">常見問答</a>
    </li>
    <li class="w-100 nav-item">
        <a class="nav-link" href="#contact">聯絡我們</a>
    </li>
</ul>