// button

.btn-primary {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #A37A64;
  --bs-btn-border-color: #A37A64;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #6A4028 !important;
  --bs-btn-hover-border-color: #6A4028 !important;
  --bs-btn-focus-shadow-rgb: 177, 142, 123;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #261308 !important;
  --bs-btn-active-border-color: #261308 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(90, 90, 90, 0.125);
  --bs-btn-disabled-color: #ffffff;
  --bs-btn-disabled-bg: #A37A64;
  --bs-btn-disabled-border-color: #A37A64;
}

// dropdown

.dropdown-toggle::after {
  display: none !important;
}

// icons

.material-icons {
  display: inline-block;
}

.arrow {
  transform: rotate(180deg);
}

@media (max-width: 991px) {
  .arrow {
    width: 30%;
    transform: rotate(270deg);
  }
}

// inputs

.select {
  width: 25% !important;
}

@media (max-width: 425px) {
  .select { width: 50% !important }
}

// tooltips

.custom-tooltip {
  background-color: white;
  opacity: 0.75;
}