.sidebar .nav-link {

  background-color: $secondary;
  border-radius: 0.5rem;

  &:hover {
    background: $primary;
    color: white;
  }

  &.active {
    background: $primary;
    color: white;
  }
  
}