<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>購物車｜Akheng's Desserts 甜點工作室</title>
    <link rel="icon" type="image/x-icon" href="../assets/icons/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

    <%- include('./layout/header'); -%>

    <section class="container">
        <div class="py-md-9 pt-6 border-bottom">
            <h2 id="process-title" class="mb-9">購物車</h2>
            <div id="cart" class="row mb-9">
                <%- include('./layout/loading'); -%>
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade"
         id="deliveryInfoModal"
         tabindex="-1"
         aria-labelledby="deliveryInfoModalLabel"
         aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header px-md-8">
                    <h3 class="modal-title fs-3" id="columnModalLabel">
                    <span class="material-icons align-middle fs-2 me-2">local_shipping</span>
                    寄送說明
                    </h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-md-8 py-8">
                    <%- include('./layout/delivery-Info'); -%>
                </div>
            </div>
         </div>
    </div>
    
    <%- include('./layout/footer'); -%>
    
    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/cart.js"></script>
    <script type="module" src="../js/handleAuth.js"></script>
</body>
</html>