<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Akheng's Desserts 甜點工作室</title>
    <link rel="icon" type="image/x-icon" href="../assets/icons/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

    <%- include('./layout/header'); -%>

    <!-- section: Carousel by Swiper -->
    <section class="swiper banner-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="position-relative">
                    <picture>
                        <source media="(max-width: 695px)" srcset="../assets/images/banner1-sm.png"/>
                        <source srcset="../assets/images/banner1-lg.png"/>
                        <img class="w-100 h-100" src="../assets/images/banner1-sm.png" alt="傳統風味・獨家配方">
                    </picture>
                    <div class="swiper-slide-slogan">
                        <div class="swiper-slide-slogan-text">
                            <h5 class="fw-normal mb-lg-5 mb-6">傳統風味・獨家配方</h5>
                            <h2 class="mb-lg-9 mb-8">體驗<span class="text-orange">嶄新</span>的味蕾饗宴</h2>
                            <a href="products.html" class="btn btn-sm btn-primary">立即選購</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="position-relative">
                    <picture>
                        <source media="(max-width: 695px)" srcset="../assets/images/banner2-sm.png"/>
                        <source srcset="../assets/images/banner2-lg.png"/>
                        <img class="w-100" src="../assets/images/banner2-sm.png" alt="傳統風味・獨家配方">
                    </picture>
                    <div class="swiper-slide-slogan">
                        <div class="swiper-slide-slogan-text">
                            <h5 class="fw-normal mb-lg-5 mb-6">天然食材・嚴選工法</h5>
                            <h2 class="mb-lg-9 mb-8"><span class="text-orange">安心</span>享受每一口甜蜜邂逅</h2>
                            <a href="products.html" class="btn btn-sm btn-primary">立即選購</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="position-relative">
                    <picture>
                        <source media="(max-width: 695px)" srcset="../assets/images/banner3-sm.png"/>
                        <source srcset="../assets/images/banner3-lg.png"/>
                        <img class="w-100" src="../assets/images/banner3-sm.png" alt="現點現做・新鮮美味">
                    </picture>
                    <div class="swiper-slide-slogan">
                        <div class="swiper-slide-slogan-text">
                            <h5 class="fw-normal mb-lg-5 mb-6">現點現做・新鮮美味</h5>
                            <h2 class="mb-lg-9 mb-8"><span class="text-orange">即時</span>品嚐甜點的完美時刻</h2>
                            <a href="products.html" class="btn btn-sm btn-primary">立即選購</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </section>
    <!-- section: Lateset News -->
    <section class="news bg-white py-lg-12 py-10">
        <div class="container">
            <h2 class="h1 text-center mb-11">最新消息</h2>
            <div id="announcements" class="row">
            <%- include('./layout/loading'); -%>
            </div>
        </div>
    </section>
    <!-- section: Monthly Special -->
    <%- include('./layout/monthly-special'); -%>
    <!-- section: Rank --->
    <section class="bg-white py-lg-12 py-10">
        <div class="container">
            <h2 class="h1 text-center mb-11">熱銷排行</h2>
            <div id="rank" class="row mb-11">
            <%- include('./layout/loading'); -%>
            </div>
            <div class="text-center">
                <a href="products.html" class="btn btn-primary">更多商品</a>
            </div>
        </div>
    </section>
    <!-- section: Benefits -->
    <section
        class="bg-tertiary py-lg-12 py-10"
        style="background-image: url('../assets/images/background.png')">
        <div class="container">
            <h2 class="h1 text-center mb-lg-11 mb-9">加入會員之後，您可以⋯⋯</h2>
            <div class="row mb-11">
                <div class="col-lg-4 col-12 text-center">
                    <div
                        data-aos="zoom-in"
                        data-aos-duration="500" data-aos-offset="500"
                        data-aos-once="true">
                        <img class="mb-7" src="../assets/images/benefit1.png" alt="Buy Anything You Want">
                        <h4 class="mb-9">購買您想要的商品</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-12 text-center">
                    <div
                        data-aos="zoom-in"
                        data-aos-duration="500" data-aos-offset="500"
                        data-aos-once="true">
                        <img class="mb-7" src="../assets/images/benefit2.png" alt="Collect Anything You Like">
                        <h4 class="mb-9">收藏您喜歡的商品</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-12 text-center">
                    <div
                        data-aos="zoom-in"
                        data-aos-duration="500" data-aos-offset="500"
                        data-aos-once="true">
                        <img class="mb-7" src="../assets/images/benefit3.png" alt="Get Latest News Immediately">
                        <h4 class="mb-9">優惠訊息即時通知</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="register.html" type="button" class="btn btn-primary">成為我們的一份子</a>
        </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/index.js"></script>
    <script type="module">
    
      import Swiper from 'swiper/bundle';

      // swiper
      
      const swiper = new Swiper (".banner-swiper", {
          slidesPerGroup: 1,
          slidesPerView: 1,
          navigation: {
              prevEl: '.swiper-button-prev',
              nextEl: '.swiper-button-next',
          },
          autoplay: {
              delay: 2000,
              disableOnInteraction: false,
          },
          // loop: true,
      });

      // toggle backdrop-filter

      $(document).ready(function(){
        $('.click').click(function(){
            $(this).parent().parent().siblings('#blur-filter').removeClass('backdrop-blur-sm');
            $(this).parent('.d-inline-block').addClass('d-none');
        });
        $('#blur-filter').click(function(){
            $(this).addClass('backdrop-blur-sm');
            $(this).siblings().find('.d-inline-block').removeClass('d-none');
        });
      })
      
    </script>
</body>
</html>
