<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員專區｜Akheng's Desserts 甜點工作室</title>
    <link rel="icon" type="image/x-icon" href="../assets/icons/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

    <%- include('./layout/header'); -%>

    <section class="container">
        <div class="pb-md-13 pt-9 border-bottom">
            <div class="row">
                <div class="col-md-2">
                <%- include('./layout/sidebar-member'); -%>
                </div>
                <div class="col-md-10">
                    <div class="tab-content" id="v-pills-tabContent">
                        <!-- orders -->
                        <div class="tab-pane fade"
                             id="v-pills-orders"
                             role="tabpanel"
                             aria-labelledby="v-pills-orders-tab"
                             tabindex="0">
                        <h3 class="d-md-block d-none mb-8">我的訂單</h3>
                        <div id="orders-content" class="row p-0">
                        <%- include('./layout/loading'); -%>
                        </div>
                        <div class="text-center d-md-none d-block my-8">
                            <a class="btn btn-sm btn-primary" href="#">回到上方</a>
                        </div>
                        </div>
                        <!-- collection -->
                        <div class="tab-pane fade"
                             id="v-pills-collection"
                             role="tabpanel"
                             aria-labelledby="v-pills-collection-tab"
                             tabindex="0">
                        <h3 class="d-md-block d-none mb-8">我的收藏</h3>
                        <div id="collection-content" class="row p-0">
                        <%- include('./layout/loading'); -%>
                        </div>
                        <div class="text-center d-md-none d-block my-8">
                            <a class="btn btn-sm btn-primary" href="#">回到上方</a>
                        </div>
                        </div>
                        <!-- profile -->
                        <div class="tab-pane fade"
                             id="v-pills-profile"
                             role="tabpanel"
                             aria-labelledby="v-pills-profile-tab"
                             tabindex="0">
                        <h3 class="d-md-block d-none mb-8">個人資料</h3>
                        <div class="col-12">
                        <p class="alert bg-tertiary text-center m-0">
                        開發中 ┏( .-. ┏ ) ┓
                        </p>
                        </div>
                        <div class="text-center d-md-none d-block my-8">
                            <a class="btn btn-sm btn-primary" href="#">回到上方</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <%- include('./layout/footer'); -%>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/member.js"></script>
    <script type="module" src="../js/handleAuth.js"></script>
</body>
</html>