<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>最新消息｜Akheng's Desserts 甜點工作室</title>
    <link rel="icon" type="image/x-icon" href="../assets/icons/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    
    <%- include('./layout/header'); -%>

    <section class="container">
        <div class="bg-transparent-mask rounded-2 px-md-8 py-md-9 p-5 mb-6"
             style="background-image: url('../assets/images/5918478.jpg'); background-size: cover;">
            <div class="px-md-8 py-8 position-relative">
                <div id="detail" class="d-flex justify-content-center align-items-center">
                <%- include('./layout/loading'); -%>
                </div>
            </div>
        </div>
        <div class="text-center border-bottom">
            <a class="btn btn-primary mb-6" href="news.html">回消息列表</a>
        </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/pages/news-datail.js"></script>
</body>
</html>